<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <link
      rel="stylesheet"
      th:href="@{/vendor/bootstrap-icons/bootstrap-icons.min.css}"
    />
  </head>
  <body>
    <aside class="sidebar" th:fragment="sidebar-layout">
      <div class="logo">
        <img
          th:src="@{/images/logo.png}"
          id="sidebar-logo"
          th:attr="data-logo-light=@{/images/logo.png}, data-logo-dark=@{/images/logo-white.png}"
          alt="Logo da Empresa"
        />
      </div>
      <nav class="sidebar-nav">
        <a th:href="@{/Dashboard.html}" class="sidebar-item">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        <a th:href="@{/vendas}" class="sidebar-item">
          <i class="bi bi-cart"></i>
          <span>Vendas</span>
        </a>
        <a th:href="@{/produtos}" class="sidebar-item">
          <i class="bi bi-box-seam"></i>
          <span>Produtos</span>
        </a>
        <a th:href="@{/clientes}" class="sidebar-item">
          <i class="bi bi-people"></i>
          <span>Clientes</span>
        </a>
        <a th:href="@{/produtos/estoque}" class="sidebar-item">
          <i class="bi bi-stack"></i>
          <span>Estoque</span>
        </a>
        <a th:href="@{/relatorios}" class="sidebar-item">
          <i class="bi bi-file-earmark-bar-graph"></i>
          <span>Relatório</span>
        </a>
        <a
          th:href="@{/usuarios}"
          class="sidebar-item"
          sec:authorize="hasRole('ADMIN')"
        >
          <i class="bi bi-person-gear"></i>
          <span>Usuários</span>
        </a>
        <a th:href="@{/configuracoes}" class="sidebar-item">
          <i class="bi bi-gear"></i>
          <span>Configurações</span>
        </a>
        <a
          href="javascript:void(0);"
          onclick="document.getElementById('logoutForm').submit();"
          class="sidebar-item"
        >
          <i class="bi bi-box-arrow-right"></i>
          <span>Sair</span>
        </a>
      </nav>
      
      <form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>

    </aside>
  </body>
</html>