<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

    <aside class="sidebar" th:fragment="sidebar-layout">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo da Empresa">
        </div>
        <nav class="sidebar-nav">
            <a href="/Dashboard.html" class="sidebar-item">
                <span>Dashboard</span>
            </a>
            <a href="/vendas" class="sidebar-item">
                <span>Vendas</span>
            </a>
            <a href="/produtos" class="sidebar-item">
                <span>Produtos</span>
            </a>
            <a href="/clientes" class="sidebar-item">
                <span>Clientes</span>
            </a>
            <a href="/produtos/estoque" class="sidebar-item">
                <span>Estoque</span>
            </a>
            <a href="/relatorios" class="sidebar-item">
                <span>Relatório</span>
            </a>
            <a href="/Usuarios.html" class="sidebar-item">
                <span>Usuários</span>
            </a>
        </nav>
        <div class="sidebar-bottom">
            <a href="#" class="sidebar-item">
                <span>Configurações</span>
            </a>
            
            <form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
            
            <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();" class="sidebar-item">
                <span>Sair</span>
            </a>
        </div>
    </aside>

</body>
</html>