<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      th:href="@{/vendor/bootstrap-icons/bootstrap-icons.min.css}"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/config.css" />

  </head>
  <body>
    <div th:fragment="header-profile" class="user-profile">
      <label class="theme-switch" for="theme-checkbox">
          <input type="checkbox" id="theme-checkbox" />
          <div class="slider round"></div>
      </label>
  
      <div class="notification-icon">
          <i class="bi bi-bell"></i>
      </div>
  
      <a th:href="@{/perfil}" class="user-avatar-link">
        <div class="user-avatar">
            <img th:if="${#authentication.principal.fotoPerfil != null}"
                th:src="@{'/images/perfil/' + ${#authentication.principal.fotoPerfil}}"
                alt="Foto de Perfil"
                style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;"/>
            
            <img th:if="${#authentication.principal.fotoPerfil == null}"
                th:src="@{/images/default-avatar.png}"
                alt="Avatar Padrão"
                style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;"/>
        </div>
    </a>
  </div>
    <script src="/js/config.js"></script>
  </body>
</html>